


<div class='panel panel-primary'>
  <div class='panel-heading'>
  <h1>Movie Rental</h1>
  
</div>

<!-- Cant get dropbox to work for some reason-->
<ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#news">Bestsellers</a></li>
    <li><a href="#news">Profile</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Settings(Dropdown)</a>
      <div class="dropdown-content">
        <a href="#">Profile Page</a>
        <a href="#">Log Out</a>
      </div>
    </li>
  </ul>

  <div class='panel-body'>
      <div class='row'>
          <div class='col-md-2'>Filter by: 
            <input type='text' />
          </div>
          <div class='SearchBar'>
              Search: 
              <input type='text'  placeholder="Search For Movies..." 
              [(ngModel)]='listFilter' />
      </div>
      <div class='row'>
         
      </div>
      <div class='table-responsive'>
          <table class='table' >
              <thead>
                  <tr>
                      <th>
                          <button class='btn btn-primary'>
                            Show Names Only
                          </button>
                      </th>
                      <th>Product</th>
                      <th>Code</th>
                      <th>Available</th>
                      <th>Price</th>
                      <th>5 Star Rating</th>
                  </tr>
              </thead>
              <tbody>
                 <tr>
                   <td>
                       
                   </td>
                   <td></td>
                   <td></td>
                   <td> </td>
                   <td> </td>
                   <td></td>
                       
                   
                </tr>
                 
              </tbody>
          </table>
      </div>
  </div>
</div>
<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="">
      <img src="" alt="movie1" width="300" height="200">
    </a>
    <div class="desc">
      Name:
      Desc:
      Rating:
    </div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="">
      <img src="" alt="movie2" width="600" height="400">
    </a>
    <div class="desc">
        Name:
        Desc:
        Rating:
    </div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="">
      <img src="" alt="movie3" width="600" height="400">
    </a>
    <div class="desc">
        Name:
        Desc:
        Rating:
    </div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="">
      <img src="" alt="movie4" width="600" height="400">
    </a>
    <div class="desc">
        Name:
        Desc:
        Rating:
    </div>
  </div>
</div>
<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="" alt="movie5" width="300" height="200">
      </a>
      <div class="desc">
        Name:
        Desc:
        Rating:
      </div>
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="" alt="movie6" width="600" height="400">
      </a>
      <div class="desc">
          Name:
          Desc:
          Rating:
      </div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="" alt="movie7" width="600" height="400">
      </a>
      <div class="desc">
          Name:
          Desc:
          Rating:
      </div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="" alt="movie8" width="600" height="400">
      </a>
      <div class="desc">
          Name:
          Desc:
          Rating:
      </div>
    </div>
  </div>

</div>

